@charset "utf-8";
/* CSS Document */

#UGenel{
width:960px;
height:630px;
margin:0 auto;
    text-align:center;
}
.kart{
    width:250px;
    display:inline-block;
    margin:15px;
    padding:15px;
    background:white;
    border:1px solid #ddd;
    border-radius:15px;
    box-shadow:0 0 10px #ccc;
    text-align:center;
    vertical-align:top;
    min-height:320px;
}

.ozellikler{
display:flex;
justify-content:center;
gap:20px;
margin-top:30px;
}

#kart img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:15px;
}

#kart:hover{
    transform:scale(1.05);
    transition:0.4s;
}